// Hamburguer menu

.header {
  position: sticky; // fijando el header en la parte superior
  top: 0; // especificando el lado donde se fijará el header
  padding: 1rem;
  background-color: $main-color;
  color: $second-color;
  h1 {
    margin: 0 auto;
    text-align: center;
  }
}

.section {
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: $container-width;
  min-height: 100vh; // asignando minima altura de viewport heigth de cada section
  text-align: center;
}

// .panel > .menu

.menu {
  width: inherit; // hereda la altura de su contenedor
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  a {
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: $main-color;
    transition: all 0.3s ease; 
    // Agrega una agradable transicion al pseudo selector hover
    
    &:hover {
      font-weight: bold;
      color: $second-color;
      background-color: $main-modal-color;
    }
  }

}
