@import '_variables';
@import '_menu';
@import 'button';
@import 'panel';

// Reset html
html {
  box-sizing: border-box;
  font-family: $main-font;
  font-size: $font-size;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Reset Body
body {
  margin: 0;
  overflow-x: hidden;
}

img,
video {
  max-width: 100%;
  height: auto;
}
